#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "img16 img17 img18 img19 img20"
    "img21 img22 img23 img24 img25"
    "img26 img27 img28 img29 img30"
    ;
}

#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* imagenes */
 
#index-gallery .img16 {
    grid-area: img16;
    background-image: url("../img/thumbnails/img16.jpg");
}
#index-gallery .img17 {
    grid-area: img17;
    background-image: url("../img/thumbnails/img17.jpg");
}
#index-gallery .img18 { 
    grid-area: img18;
    background-image: url("../img/thumbnails/img18.jpg");
 }
#index-gallery .img19 {
    grid-area: img19;
    background-image: url("../img/thumbnails/img19.jpg");
}
#index-gallery .img20 {
    grid-area: img20;
    background-image: url("../img/thumbnails/img20.jpg");
}
#index-gallery .img21 {
    grid-area: img21;
    background-image: url("../img/thumbnails/img21.jpg");
}
#index-gallery .img22 {
    grid-area: img22;
    background-image: url("../img/thumbnails/img22.jpg");
}
#index-gallery .img23 {
    grid-area: img23;
    background-image: url("../img/thumbnails/img23.jpg");
}
#index-gallery .img24 {
    grid-area: img24;
    background-image: url("../img/thumbnails/img24.jpg");
}
#index-gallery .img25 { 
    grid-area: img25;
    background-image: url("../img/thumbnails/img25.jpg");
 }
#index-gallery .img26 {
    grid-area: img26;
    background-image: url("../img/thumbnails/img26.jpg");
}
#index-gallery .img27 {
    grid-area: img27;
    background-image: url("../img/thumbnails/img27.jpg");
}
#index-gallery .img28 {
    grid-area: img28;
    background-image: url("../img/thumbnails/img28.jpg");
}
#index-gallery .img29 {
    grid-area: img29;
    background-image: url("../img/thumbnails/img29.jpg");
}
#index-gallery .img30 {
    grid-area: img30;
    background-image: url("../img/thumbnails/img30.jpg");
}

/* Titulos Galería*/

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallery-img a {
     font-size: 18px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/*Div con la imagen*/
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img{
    max-height: 80vh;
    max-width: 80vw;
}

/* Botones de la Imagen*/
.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
     cursor: pointer;
     text-transform: uppercase;
}

.img-btn-next:hover {
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
     cursor: pointer;
     text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.8;
}
