#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "gallery-p gallery-p gallery-p gallery-p"
    "h2 h2 h2 h2"
    "img31 img32 img33 img34" 
    "img31 img35 img36 img37"
    "img38 img39 img40 img41"
    "img42 img43 img44 img45"
    ;
}

#index-gallery .gallery-img {
    width: 145px;
    height: 300px;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* imagenes */

#index-gallery p {
    grid-area: gallery-p;
}
 
#index-gallery h2 {
    grid-area: gallery-h2;
}

#index-gallery .img31 {
    grid-area: img31;
    background-image: url("../img/thumbnails/img31.jpg");
    height: 610px;
}
#index-gallery .img32 {
    grid-area: img32;
    background-image: url("../img/thumbnails/img32.jpg");
}
#index-gallery .img33 { 
    grid-area: img33;
    background-image: url("../img/thumbnails/img33.jpg");
}
#index-gallery .img34 {
    grid-area: img34;
    background-image: url("../img/thumbnails/img4.jpg");
}
#index-gallery .img35 {
    grid-area: img35;
    background-image: url("../img/thumbnails/img35.jpg");
}
#index-gallery .img36 {
    grid-area: img36;
    background-image: url("../img/thumbnails/img6.jpg");
}
#index-gallery .img37 {
    grid-area: img37;
    background-image: url("../img/thumbnails/img37.jpg");
}
#index-gallery .img38 {
    grid-area: img38;
    background-image: url("../img/thumbnails/img38.jpg");
}
#index-gallery .img39 {
    grid-area: img39;
    background-image: url("../img/thumbnails/img39.jpg");
}
#index-gallery .img40 { 
    grid-area: img40;
    background-image: url("../img/thumbnails/img40.jpg");
}
#index-gallery .img41 {
    grid-area: img41;
    background-image: url("../img/thumbnails/img4.jpg");
}
#index-gallery .img42 {
    grid-area: img42;
    background-image: url("../img/thumbnails/img42.jpg");
}
#index-gallery .img43 {
    grid-area: img43;
    background-image: url("../img/thumbnails/img6.jpg");
}
#index-gallery .img44 {
    grid-area: img44;
    background-image: url("../img/thumbnails/img44.jpg");
}
#index-gallery .img45 {
    grid-area: img45;
    background-image: url("../img/thumbnails/img45.jpg");
}

/* Titulos Galería*/

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallery-img a {
     font-size: 18px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/*Div con la imagen*/
.img-window{
    width: 100vw;
    height: 100vw;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img{
    max-height: 80vh;
    max-width: 80vw;
}